*,
*::before,
*::after {
    box-sizing: border-box;
}

.dialog,
.popover {
    transition:
        opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        overlay 0.5s ease-in-out allow-discrete,
        display 0.5s ease-in-out allow-discrete;

    opacity: 0;
    transform: translateY(1em);
}

.dialog {
    position: relative;

    padding: 10px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    &::backdrop {
        transition:
            display 0.5s allow-discrete,
            overlay 0.5s allow-discrete,
            background-color 0.5s;
        background-color: hsl(0 0 0 / 50%);
    }

    &[open]::backdrop {
        background-color: hsl(0 0 0 / 50%);
    }
}

.popover {
    padding: 20px;

    border: none;
    border-radius: 5px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.dialog[open],
.popover:popover-open {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {
    .dialog[open],
    .popover:popover-open {
        opacity: 0;
        transform: translateY(-1em);
    }

    .dialog[open]::backdrop {
        background-color: hsl(0 0 0 / 0);
    }
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
}

.controls {
    margin: 20px auto;
    width: fit-content;
}

.button {
    padding: 15px 32px;

    color: white;
    font-size: 16px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.open-button:hover {
    background-color: #45a049;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 25px;
    height: 25px;

    background-color: transparent;
    border: none;

    transition: opacity 0.3s ease;
    cursor: pointer;
}

.close-button::before,
.close-button::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.close-button:hover {
    opacity: 0.5;
}
